BasedOnStyle: LLVM
Language: Cpp

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
ContinuationIndentWidth: 4

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterCaseLabel: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: false

BinPackArguments: false
BinPackParameters: false
BreakAfterReturnType: None
AlignAfterOpenBracket: true
PackConstructorInitializers: Never
ConstructorInitializerAllOnOneLineOrOnePerLine: false
BreakConstructorInitializers: BeforeComma

PointerAlignment: Left
ReferenceAlignment: Left

SpaceBeforeParens: ControlStatements
SpaceBeforeCpp11BracedList: false
SpacesInParentheses: false
SpacesInContainerLiterals: false
SpaceInEmptyParentheses: false
SpacesInSquareBrackets: false

BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true

IndentCaseLabels: true
IndentCaseBlocks: true
NamespaceIndentation: All

EmptyLineBeforeAccessModifier: LogicalBlock
IndentAccessModifiers: false

SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"'
    Priority: 1
  - Regex: '^<imgui\.h>$'
    Priority: 2
  - Regex: '^<ImGuizmo\.h>$'
    Priority: 3
  - Regex: '^<'
    Priority: 4

ReflowComments: false
AlignTrailingComments: true

Cpp11BracedListStyle: true
DerivePointerAlignment: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
SeparateDefinitionBlocks: Always
